
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body{
  background-color: #d2d2d2b3;
}

.footer-b{
  display: block;
  width: 100%;
  background-color: #478781;
  text-align: center;
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0;
  padding: auto;
}

.footer-b p{
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.errors{
  color: #c10600;
  font-size: 14px;
  font-weight: bold;
}

.alert-success{
  color: #194b1f;
  background-color: #57d14a;
  border-color: #33b951;
<<<<<<< Updated upstream
=======
}